@font-face {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../media/65c1f6eb17b9caea-s.0c8m9.w4oy~1r.woff2) format("woff2");
	unicode-range:
		U+900-97F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC,
		U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
@font-face {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../media/124b7a75a76bd55c-s.0h_k275rw8img.woff2) format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
		U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../media/d23f31b94ad01e54-s.p.091biwio0g5wn.woff2) format("woff2");
	unicode-range:
		U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/63e49db46351d020-s.0ta1d1gw2mpw9.woff2) format("woff2");
	unicode-range:
		U+900-97F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC,
		U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
@font-face {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/35f9213b86bccda4-s.0-a587c3ipsmj.woff2) format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
		U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/3206eb66b875a5b3-s.p.0newl065t398d.woff2) format("woff2");
	unicode-range:
		U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Rajdhani Fallback;
	src: local(Arial);
	ascent-override: 102.12%;
	descent-override: 37.99%;
	line-gap-override: 0%;
	size-adjust: 91.07%;
}
.rajdhani_889b827b-module__-iqHGW__className {
	font-family:
		Rajdhani,
		Rajdhani Fallback;
	font-style: normal;
}
.rajdhani_889b827b-module__-iqHGW__variable {
	--font-heading: "Rajdhani", "Rajdhani Fallback";
}
@font-face {
	font-family: Atkinson Hyperlegible;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/cc6c75d91fb27f62-s.117builj2s2_-.woff2) format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
		U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: Atkinson Hyperlegible;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/ed5f1f9bced69653-s.p.0t~r0znp74~xb.woff2) format("woff2");
	unicode-range:
		U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Atkinson Hyperlegible;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/574e5b2a8fe8e45b-s.01yactx5t2mij.woff2) format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
		U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: Atkinson Hyperlegible;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/89ea96820aa96980-s.p.05i4trv5wh9ym.woff2) format("woff2");
	unicode-range:
		U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Atkinson Hyperlegible Fallback;
	src: local(Arial);
	ascent-override: 95.6%;
	descent-override: 29.18%;
	line-gap-override: 0%;
	size-adjust: 99.37%;
}
.atkinson_hyperlegible_dfcdd788-module__fJGmlq__className {
	font-family:
		Atkinson Hyperlegible,
		Atkinson Hyperlegible Fallback;
	font-style: normal;
}
.atkinson_hyperlegible_dfcdd788-module__fJGmlq__variable {
	--font-body: "Atkinson Hyperlegible", "Atkinson Hyperlegible Fallback";
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/04c5164763c40239-s.0h-nw9_c8d~-_.woff2) format("woff2");
	unicode-range:
		U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/26f284dcc38c84c0-s.10hk62x1-0d9n.woff2) format("woff2");
	unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/7e7f32a39836f228-s.0bmyfaahigzds.woff2) format("woff2");
	unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/fa39153a3fc630ba-s.0-0ft90hthv3~.woff2) format("woff2");
	unicode-range:
		U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301,
		U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/6a5386fd6038edbe-s.16fk0g~ypa53a.woff2) format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
		U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../media/051742360c26797e-s.p.0f97p8c3305p~.woff2) format("woff2");
	unicode-range:
		U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../media/04c5164763c40239-s.0h-nw9_c8d~-_.woff2) format("woff2");
	unicode-range:
		U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../media/26f284dcc38c84c0-s.10hk62x1-0d9n.woff2) format("woff2");
	unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../media/7e7f32a39836f228-s.0bmyfaahigzds.woff2) format("woff2");
	unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../media/fa39153a3fc630ba-s.0-0ft90hthv3~.woff2) format("woff2");
	unicode-range:
		U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301,
		U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../media/6a5386fd6038edbe-s.16fk0g~ypa53a.woff2) format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
		U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../media/051742360c26797e-s.p.0f97p8c3305p~.woff2) format("woff2");
	unicode-range:
		U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/04c5164763c40239-s.0h-nw9_c8d~-_.woff2) format("woff2");
	unicode-range:
		U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/26f284dcc38c84c0-s.10hk62x1-0d9n.woff2) format("woff2");
	unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/7e7f32a39836f228-s.0bmyfaahigzds.woff2) format("woff2");
	unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/fa39153a3fc630ba-s.0-0ft90hthv3~.woff2) format("woff2");
	unicode-range:
		U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301,
		U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/6a5386fd6038edbe-s.16fk0g~ypa53a.woff2) format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
		U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../media/051742360c26797e-s.p.0f97p8c3305p~.woff2) format("woff2");
	unicode-range:
		U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: JetBrains Mono Fallback;
	src: local(Arial);
	ascent-override: 75.79%;
	descent-override: 22.29%;
	line-gap-override: 0%;
	size-adjust: 134.59%;
}
.jetbrains_mono_96346ae-module__W2t6fG__className {
	font-family:
		JetBrains Mono,
		JetBrains Mono Fallback;
	font-style: normal;
}
.jetbrains_mono_96346ae-module__W2t6fG__variable {
	--font-code: "JetBrains Mono", "JetBrains Mono Fallback";
}
:root {
	--lightningcss-light: ;
	--lightningcss-dark: initial;
	color-scheme: dark;
	--font-sans: var(--font-body), "Segoe UI", sans-serif;
	--font-display: var(--font-heading), "Segoe UI", sans-serif;
	--font-mono: var(--font-code), "Cascadia Code", monospace;
	--bg: #11131d;
	--bg-deep: #090b12;
	--panel: #181b27d6;
	--panel-strong: #1f2332f5;
	--line: #ffffff12;
	--line-strong: #ffffff24;
	--text: #f1f4fb;
	--muted: #9ba4bd;
	--accent: #86a7ff;
	--accent-strong: #627ff0;
	--success: #72e3a6;
	--danger: #ff8b8b;
}
* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-family: var(--font-sans);
	text-rendering: geometricprecision;
	-webkit-font-smoothing: antialiased;
	background:
		radial-gradient(circle at top, #895eff1f, transparent 34%),
		radial-gradient(circle at 20% 20%, #5587ff1f, transparent 28%),
		linear-gradient(180deg, var(--bg) 0%, var(--bg-deep) 100%);
	color: var(--text);
	margin: 0;
	font-size: 16px;
	line-height: 1.45;
	overflow: hidden;
}
button,
input,
select {
	font: inherit;
}
button {
	letter-spacing: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
